{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content%}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-9" style="height: 100px;">

            {{ wtf.quick_form(comment) }}
            {{simplemde.load}}
        </div>
        {% for comm in comment_is %}
        <div class="col-md-3">
            {% for comm in comment_is %}
            <h5  style="background-color: #8aa0de; text-color: white; width:400px; height: 50px;">Comment: {{comm.saying}}</h5>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}